/*  your css code here. If applicable */
.main-container{
	Padding:200px;
	Background-color: #f5f5f5;
}

.Testimonial{
	Padding:2px;
	Border:2px solid green;
	Background-color: #f5f5f5;
	Text-align: right;
	Font-style:italic;
}

.Normal-styling{
	padding:2px;
	Text-align: right;
	Font-style:italic;
	
}
.Author-name{
	Text-align: right;
	Font-style:italic;
}